/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family:  'Baskervville', serif;
    font-weight: 400;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #f8f6f6;
    margin-bottom: 200px;
}

 .sections {
  display: flex;
  justify-content: center;
}

.features {
  display: flex;
  gap: 20px;
}

.feature {
  flex: 1;
  text-align: center;
}

.feature img {
  max-width: 100%;
}
a {
    color: #333;
    text-decoration: none;
}
/* Change the link color on hover */

.title{
     z-index: 1000;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: right;
    font-weight: 300;
    background-color: white;
    font-size: 10px;
    color: #f7f7f7;
   position:fixed;
  top: 24px;
  left: 0;
  width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition: transform 0.3s ease-in-out;
    margin-left: 50px;
    font-family: 'Cinzel Decorative';
   
}

.promotion-bar {
    background-color: #000;
    color: white;
    top: 0;
    text-align: center;
    position: fixed;
   
    z-index: 1000;
    
    width: 100%;
    z-index: 1000;
}
.promotion-bar p{
  animation: scrollRight 10s linear infinite;
}
@keyframes scrollRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.navigation{
    height: 30px;
    justify-items: center;
    align-items: center;
   z-index: 1000;
}
h2{
    text-align: center;
    font-family: 'Baskervville', serif;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin-bottom: 50px;
    color: #f0eaea;
    font-weight: 300;

}
h1{
   color: #000;
  
    font-weight: 400;
    
   } 
.under-statement-and-button{
    margin-top: 70px;
   }
.nav-buttons{
    font-size: 15px;
    color: #f8f5f5;
    font-family: 'Cinzel Decorative';
    background-color:transparent;
    margin-left: 20px;
    padding-bottom: 3px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    margin-right: 20px;
}

.nav-buttons:hover{
color: #f0eaea;
transform: scale(1.1);
letter-spacing: 3px;
}
 
.logo:hover{
    color: #f0eaea;
    transform: scale(1.1);
    letter-spacing: 3px;
    }


   


/*shop now button*/
.button {
    background-color: #fcf9f9;
    color: #111111;
    padding: 20px 30px;
    font-size: 15px;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight:100;
    font-family:  'Baskervville', serif;
    font-weight: 400;
   z-index: 100;
}

.button:hover {
    background-color: #ad9c8e8f;
    color: #f8f5f5;
    border: 2px solid #c0bebe;
}
button, input, textarea {
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 10px ;
    margin-bottom: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
   
    
}
.About{
    text-align: center;
    font-family:  'Baskervville', serif;
    margin-left: 300px;
    border: #111111;
    border-color: #111111;
    margin-right: 300px;
    background-color:transparent;
    padding: 30px;
   font-size: 20px;
    
}
#about-title{
    font-family:  'Baskervville', serif;
    background-color: transparent;
    margin: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
font-weight: 400;
    
}

.second-statement{
    font-family:  'Baskervville', serif;
    text-align: center;
}

.features td{
    margin: 40px;
    padding-left: 35px;
    padding-right: 35px;
}



/* About us section styles */

.sections { 
    flex: 29%;
     display: grid; 
     text-align: center;
    margin-left:9px ;
       
}
.sections img { 
    margin: 10px;
    flex: 29%;
     display: flex; 
     flex-wrap: wrap;
     
}
#cart {
  width: 1000px;
  height: 100px;
  display: flex;
  position: relative;
  right: 200px;
  left: 200px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  z-index: -1;
}  
.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  margin-left: 1000px;

}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}

#toast {
  visibility: hidden;
  min-width: 250px;
  background-color: rgb(34, 33, 33);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: rgb(243, 241, 241);
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 600px;
  bottom: 30px;
  font-size: 16px;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


.checkout {
  background-color: rgba(82, 79, 79, 0.664);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  position: absolute;
  z-index: 1;
  font-size: 16px;
  right: 80px;
 border-radius: 30px;
  top: 425px;
  cursor: pointer;
}
.checkout:hover {
  background-color: #ad9c8e8f;
  color: #f8f5f5;
  border: 2px solid #c0bebe;
}
#candles {
    text-align: center;
    position: relative;
}
#candles img {
    display: block;
    margin: 0 auto;
    height: 510px;
  }
#candles h2{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#diffusers {
    text-align: center; 
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}
#diffusers img {
    display: block;
    margin: 0 auto;
  }
#diffusers h2{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#Accessories{
    position: relative;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}
#Accessories img {
    display: block;
    margin: 0 auto;
  }
#Accessories h2{
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Shop-button{
    margin-top:180px;
    font-size: 12px;
    position: relative;
    display: inline-block;
    width: 250px;
    padding: 12px 30px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight:300;
    font-family:  'Baskervville', serif;
    background-color: white;
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
    color: #363636;
     border-color: #ffffff;
    border: 1px solid #ccc;
  
}

.Shop-button:hover{
    background-color:transparent;
    color: #fcfbfb;
    border-color: #e6e3e3;
    box-shadow: 0px 0px 5px #e6e3e3;
    font-weight: bolder;
   
}
#Shop-Accessories{
    width: 300px;
    padding: 12px 20px;
}
.features{
    margin-left: 5px;
}
.features img{
   
        transition: transform 0.3s ease-in-out;
     
}
.features img:hover {
          transform: scale(1.1);
      }
#our-story-header{
    color: #0c0c0c;
    margin-top: 30px;
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
font-weight: 400;
}
.our-story-text{
    margin-right:400px;
    margin-left:400px;
    font-family:  'Baskervville', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    justify-content: center;
    text-align: justify;
   text-align: center;
   line-height: 40px;
   letter-spacing: 1.5px;
}

.characteristics img{
    text-align: center;
    margin-left:260px;
    margin-right:300px;
  

}
.first-cell{
    padding-right: 80px;
    font-family:  'Baskervville', serif;
    letter-spacing: 1px;
    text-align: center;

}
.second-cell{
    padding-right: 80px;
    font-family:  'Baskervville', serif;
    letter-spacing: 1px;
    text-align: center;
}
.third-cell{
    padding-right: 80px;
    font-family:  'Baskervville', serif;
    letter-spacing: 1px;
    text-align: center;
}
.fourth-cell{
    padding-right: 80px;
    font-family:  'Baskervville', serif;
    letter-spacing: 1px;
    padding-top: 2px;
    text-align: center;
}
.row2{
    width: 150px;
    text-align: center;
}
hr{
    width: 140px;
    text-align: center;
    margin-left: 600px;
    color: #0c0c0c;
    margin-bottom: 30px;
    text-align: center;
}
/* Footer styles */
footer {
    height: 200px;
    background-color: #eeeaea;
    color: #0c0c0c;
    padding: 20px;
    position: absolute;
    z-index: 1;
    width: 100%;
}
.follow-us{
    text-align: center;
    margin: 50px;
    font-weight: 400;
    
}
  
 .horizontal-item{
    list-style: none;
    display: inline;
    margin-right: 9px;
    margin-top: 0px;
 }
 .follow-us-header {
    color: #0c0c0c;
    margin-top: 0px;
    margin-bottom: 20px;
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 400;
    font-size: medium;
 }

 .image-container {
    display: inline-block;
    position: relative;
  }

  .image-container:hover img {
    transform: scale(1.2);
  }
 h3{
    color: #0c0c0c;
    margin-top: 0px;
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 15px;
    top:0;
    margin-bottom: 40px;
    font-weight: 400;
 }
 .submit{
    background-color: #0c0c0c;
    color: #ccc;
 }
 #copyrights{
    text-align: right;
   
 } 
 /* SECOND PAGE*/
 * {box-sizing:border-box}

/* Slideshow container */
.slideshow{
    position: relative;
   
}
.slideshow-container img{
    width: 100%;

}
.slideshow-container {
 
  position: relative;
  margin-top: 130px;
  z-index: -1;
 border-left: 100px solid #ffffff; /* Adjust the border width and color as needed */
 
}

/* Hide the images by default */
.mySlides {
  display: none;
 
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .social-link {
    width: 30px;
    height: 30px;
    margin-right: 10px; /* Adjust the margin as needed */
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  
  
  
  .text-center{
    display: flex;
    flex-direction: row;
    margin-left:100px ;
    position: relative;
  }
  .list-inline-item{
    list-style: none;
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;
  }
  

/* Caption text */
.slideshow-text {
  color: #e0dddd;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  top: 200px;
  width: 100%;
  font-family: 'Baskervville', serif;
  font-weight: 400;
  font-size: 40px;
 letter-spacing: 0.1em;
left: 40px;
   text-align: center;
}
@media only screen and (max-width: 600px) {
  .toast{
    margin-bottom: 200px;
  }
 .slideshow-text{
  top: 90px;
  font-size: 20px;
  text-align: center;
 color: #000;
border: white;
background-color: rgba(255, 255, 255, 0.473);
width: 400px;
   }
  }

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


  


 .promotion{
    display: flex;
    flex: row;
    height: 30px;
    background-color: #0c0c0c;
    font-size: 14px;
    letter-spacing: 0.2em;
    text-align: center;
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
 }
 .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f1f1f1;
    display: none;
  }
  
  .content {
    margin-left: 0; /* Adjust the margin to accommodate the sidebar width */
  }
  
.nav-title{
   background-color:white;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    letter-spacing: 0.2em;
    text-align: center;
    font-family: 'Baskervville', serif;
    text-transform: uppercase;
    position:fixed;
    width: 100%;
    top: 30px;
    left: 0;
z-index: 2;
    right: 0;
    border-color: white;
    border-bottom-width: 1px; 
    border-bottom-style: solid;
    border-bottom-color:rgb(228, 228, 228);
}




.nav1{
    margin-right: 20px;
    cursor: pointer;
}
.nav1::after {
    content: "";
    position: absolute;
    left: 50px;
    bottom: -1px;
    width: 70px;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .nav1:hover::after {
    transform: scaleX(1);
  }
.nav2{
    margin-right: 20px;
    cursor: pointer;
}
.nav2::after {
    content: "";
    position: absolute;
    left: 145px;
    bottom: -1px;
    width: 85px;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .nav2:hover::after {
    transform: scaleX(1);
  }
.nav3{
    margin-right: 20px;
    cursor: pointer;
}
.nav3::after {
    content: "";
    position: absolute;
    left: 245px;
    bottom: -1px;
    width: 120px;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .nav3:hover::after {
    transform: scaleX(1);
  }
.left-section{
   font-size: 12px;
   width: 500px;
  margin-left:-10px;
  z-index: 1;
 
}

.middle-section{

margin-right:300px;
align-items: center;
text-align: center;
width: 500px;

}
.right-section{
   width: 100px;
 margin-right: 40px;
 display: flex;
    flex-direction: row;
    align-items: center;
    
}
.right-section img{
    flex-shrink: 0;
    width: 25px;
    height: 25px;
}
.Shopping-icon{
    margin-top: 4px;
    margin-right: 15px;
    width: 45px;
}
.Shopping-icon img{
    margin-right: 15px;
    width: 45px;
}
  .side-list {
    background-color: white;
    position: fixed;
    width: 110px; 
   top: 130px;
   bottom: 0px;
   left: 0;
   border-color: white;
   border-right-width: 1px; 
   border-right-style: solid;
   border-right-color:rgb(228, 228, 228);
   z-index: 1;
  }
 .sidebar-link{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .sidebar-link:hover{
    background-color: rgb(235, 232, 232);
 }
 
 .sidebar-link img{
    height:45px ;
    margin-bottom: 8px;
 }
 .sidebar-link div{
    font-family: Roboto, Arial;
    font-size:12px ;
 }
#myImage3{
    margin-top: -15px;
   height: 130px;
}
 
.section-name{
    margin-top: 50px; 
    font-family: 'Baskervville', serif;
  font-size: 30px; 
  text-transform: uppercase;
   letter-spacing: 1.5px;
    
    font-weight: 400;
     color: #2e2d2d;
}


 .products{
  display: flex;
  flex: 1fr 1fr 1fr;
  position: relative;
  flex-direction: row;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
  top: 0;
  right: 0;
  left: 0;
 }
 .card {
    position: relative;
    margin-left:40px;
    margin-top: 75px;
    width: 300px;
    height: 420px;
    border-radius: 50px;
    background: #f0efef31;
    box-shadow: 20px 20px 70px #bebebe, 20px 20px 60px #ffffff;
    
  }
.card-title{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 250px;
    bottom: 10px;
    left: 30px;
    font-family: 'Baskervville', serif;
  font-size: 20px; 
  text-transform: uppercase;
}
  .product-images{
    width: 175px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 30px;
    left: 63px;
    border-radius: 20px;

}



  .card-text{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 350px;
    color: #313030fa;
    
    font-family:  'Baskervville', serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    left: 30px;
  }
  #rose-product{
    height: 230px;
  }
  .body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  .secondary-nav{
    
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
    padding: 0 25px; 
    display: none;
  }
  .nav2-content{
    display: flex;
  list-style: none;
  align-items: center;
  height: 120px;
position: relative;

  }
  .link-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 120px;
    width: 95px;
    text-decoration: none;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .link-item.active{
    transform: translateY(-10px);
  }

  .link-item.active .link-icon{
  color: rgb(12, 12, 12) ;
  }
.link-icon{
  font-size:38px ;
  color: #999;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);


}

.link-text{
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  color: #000;
  transform: translateY(32px);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

}
.link-item.active .link-text{
  opacity: 1;
}
#hiba, #sara{
  padding: 150px;
  padding-right: 70px;
  padding-left: 70px;
  margin-left: 70px;
}
 @media only screen and (max-width: 600px) {
  .right-section{
    display: none;
  }
  .secondary-nav{
    
    position: fixed;
    bottom: 0;
    display: flex;
    align-items:  center;
    align-content: center;
    z-index: 2;
    height: 100px;
    width: 100%;
    
  }

  h1{
        font-size: 20px;
    }
    .div-title a{
        display: grid;
        font-size: 12px;
        grid-template-columns: 40px;
    }
    .product-grid{
   
        left: 0;
        display: grid;
        grid-template-columns: 300px  ;
       
       
     }
     .card {
        position: relative;
   padding-left: 0;
        margin-top: 75px;
        width: 300px;
        height: 450px;
        border-radius: 50px;
        background: #f0efef31;
        box-shadow: 20px 20px 70px #bebebe, 20px 20px 60px #ffffff;
       
        
      }
    .card-title{
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        top: 250px;
        bottom: 10px;
        left: 30px;
    }
      .product-images{
        width: 175px;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        top: 30px;
        left: 63px;
        border-radius: 20px;
    
    }
     .options {
       
        display: inline-block;
        height: 40px;
        width: 130px;
        margin: 0 40px 0 16px;
        box-sizing: border-box;
        border: transparent;
        border-radius: 60px;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        color: #ffffff;
        background-color: #070707af;
        margin-top: 430px;
      }

      .right-section{
        margin-right: -10px;
      }
      .search-icon{
       display: none;
      }
      .left-section {
        display: none;
      }
      .middle-section{
        margin-right: 40px;
        width: 500px;
        display: flex;
       margin-left: 100px;
        font-size: 9px;
   text-align: center;
  align-items: center;
      }
      .promotion{
        display: grid;
grid-template-columns:  400px ;
        height: 30px;
        background-color: #0c0c0c;
        font-size: 10px;
        letter-spacing: 0.2em;
        text-align: center;
        font-family: 'Baskervville', serif;
        text-transform: uppercase;
        justify-content: center;
        align-items: center;
        color: white;
        position: fixed;
       
      }
  }


  /* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Baskervville', serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f8f6f6;
}



/* Media query for screens smaller than 768px */
@media (max-width: 767px) {
body{
  margin-bottom: 150px;
}
  .nav-buttons{
    display: none;
   
  }
  .title {
      font-size: 24px;
      display: none;
  }

  h2 {
      font-size: 20px;
      margin-bottom: 30px;
      margin-right: 10px;
  }

  .nav-buttons {
      font-size: 18px;
  }

  #hero {
      height: 400px;
  }

  .button {
      padding: 15px 25px;
      font-size: 14px;
  }

  button,
  input,
  textarea {
      font-size: 14px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 8px;
      padding-top: 8px;
      margin: 8px;
      margin-bottom: 10px;
  }

  .About {
      margin-left: 20px;
      margin-right: 20px;
      padding: 20px;
      font-size: 18px;
  }

  .sections {
      margin-left: 5px;
  }

  #cart {
    display: flex;
    flex-direction: column;
      width: 200px;
     
      margin-right: 0px;
  }

  .Btn {
      width: 100px;
      height: 30px;
      font-size: 14px;
      margin-left: 300px;
  }

  .checkout {
      font-size: 14px;
      right: 90px;
      top: 450px;
  }

  #candles h2,
  #diffusers h2,
  #Accessories h2 {
      font-size: 18px;
  }

  .Shop-button {
      width: 200px;
      padding: 10px 20px;
      font-size: 10px;
  }
.Shop-button:hover {
  color: #413f3f;
}
  .features img {
      max-width: 300px;
      max-height: 350px;
  }

  #our-story-header {
      margin-top: 20px;
      font-size: 18px;
  }

  .our-story-text {
   
      margin-right: 20px;
      margin-left: 20px;
      font-size: 16px;
      line-height: 30px;
  }

  .characteristics img {
      width: 480px;
      text-align: center;
      margin-right: 300px;
      margin-left: 0px;
  }


  /* Footer styles */
  footer {
      display: none;
  }

  .follow-us {
      margin: 20px;
  }

  .follow-us-header {
      font-size: 14px;
  }

  h3 {
      font-size: 12px;
      margin-bottom: 20px;
  }

    .sections {
      margin: 0;
      padding: 10px;
    }
  
    .features {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
    }
  
    .features td {
      flex: 1 0 100%;
    }
  
    .Shop-button {
      width: 100%;
      font-size: 16px;
      
    }
  
  .features{
   width: 300px;
   height: 1200px;
    display: flex;
    flex-direction: column;
  }
  
 .side-list{
  display: none;
 }
 .cart-row{
  margin-left: 0px;
  margin-right: 50px;
 }
 .slideshow-container {
  position: relative;
  margin-top: 130px;
  z-index: -1;
  border-left: 0;
}
}


.example .flipdown {
  margin: auto;
}

.example h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 10px;
}

.example p {
  font-family: 'Baskervville', serif;
  font-size:20px;
  text-align: center;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 35px;
}
@media(max-width: 550px) {
  .example {
    width: 100%;
    height: 362px;
  }

  .example h1 {
    font-size: 2.5em;
  }

  .example p {
    margin-bottom: 25px;
  }
}
.inside{
  z-index:1;
  background: #383737;
  width:50px;
  height:50px;
  position: absolute;
  color: aliceblue;
  right: 0px;
  border-radius: 50%;
  transition: all 0.5s, border-radius 2s, top 1s;
  overflow: hidden;
  .icon{
    position:absolute;
    right:20px;
    top:10px;
    color:white;
    opacity: 1;
  }
  &:hover{
    width:100%;
    height: 150px;
    right:0;
    top:0;
    bottom: 0;
    border-radius: 18%;
    height:80%;
    .icon{
      opacity: 0;
      right:15px;
      top:15px;
      text-align: center;
    }
    
    .contents{
      margin-top: 10px;
      font-family: 'Baskervville', serif;
  font-size:20px;
  text-align: center;
  font-weight: 400;
      text-align: center;
      opacity: 1;
      transform: scale(1);
      transform: translateY(0);
      list-style: none;
    }
  }
  .contents-description{
    font-size: 18px;

  }
  .contents{
    list-style: none;
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;

  }
}


.sections {
  text-align: center;
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 17px solid #ffffff;
  border-radius: 10%;
  max-width: 100%;
  height: auto;
  width: 300px;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 0;
  list-style: none;
}

.social-link {
  width: 30px;
  height: 30px;
  margin: 0 5px; /* Adjust the margin as needed */
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

@media (max-width: 576px) {
  .img-thumbnail {
    width: 500px;
  }
  #hiba{
    padding: 0;
   margin-left: -50px;
  }
  #sara{
    padding: 0;
  }
}

@media (max-width: 768px) {
  .img-thumbnail {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .img-thumbnail {
    width: 160px;
  }

  .text-center{
    display: flex;
    flex-direction: column;
  }

}
